// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$peach: #FFC6AC;
$ocean-blue: #2D3880;
$darkish-blue: #3B3D4F;
$pink: #FFA1B2;
$neutral-04: #FFF6DC;
$neutral-03: #FFF9E9;
$FFFDF8-02: #FFFDF8;
