<div class='backgroundpattern'>
  <div class="container p-4">
    <h2 class="peachtext p-1 mb-5 mt-3 text-center"><strong>My Favorited Routes</strong></h2>

    <% @favorited_routes.each do |route| %>
    <div class="card mx-auto my-4">
      <div class="card-body text-primary d-flex">
        <div class="row">
          <div class="col my-auto">
            <i class="fa-solid fa-plane smallicon"></i>
          </div>
          <div class="col-8 my-auto">
            <strong><%= link_to "#{current_user.full_name}'s route", route_path(route), class: "text-decoration-none" %></strong>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
