<footer class="footer text-center text-light">
  <section class="">
    <div class="container-fluid text-center mt-5">
      <div class="row mt-3">
        <h2 class="pt-5 mb-4"><strong>Trip Copilot</strong></h2>
        <h5 class="mb-4">Your route builder for travel</h5>
        <br>
        <a href="" class="text-reset text-decoration-none py-3">Terms and conditions</a>
        <%= link_to "Build your route", new_intake_departure_place_path, class: "text-reset text-decoration-none py-3" %>
        <a href="" class="text-reset text-decoration-none py-3 mb-5">Contact us</a>
        <hr>
        </div>
        </div>
    </section>
  <section class="d-flex justify-content-center p-3">
    <div>
      <a href="" class="mx-3 text-white"><i class="fab fa-instagram"></i></a>
      <a href="" class="mx-3 text-white"><i class="fab fa-facebook-f"></i></a>
      <a href="" class="mx-3 text-white"><i class="fa-brands fa-youtube"></i></a>
    </div>
  </section>
  <div class="p-3">
    <a href="" class="text-center text-reset text-decoration-none mx-5">Privacy Policy</a>
    <a href="" class="text-center text-reset text-decoration-none mx-5">Terms of Use</a>
  </div>
  <div class="text-center pb-5 pt-3">
    Copyright © 2023 Trip Copilot. All rights reserved.
  </div>
</footer>
