<div class="cover d-flex">
  <div class='searchbox mx-4 mb-1'>
    <p>Explore <strong>endless</strong><br> destinations</p>
  </div>
</div>
  <div class='subtitle pt-8'>
    <h1 class='text-primary text-center p-4'><strong>Explore the world with our trip suggestions</strong></h1>
  </div>

<div class="container align-items-center justify-content-center">
  <div class='row illustration mx-auto'></div>
  <div class="row text-center my-5">
    <h4>Discovering new places doesn't<br>have to be expensive</h4>
  </div>
</div>

<div class="container d-flex text-center">
  <div class="col-12 my-5">
    <h2><strong>We build the best route<br>for you in 3 steps</strong></h2>
    <h5>We suggest you when and by which<br>transportation you will need to take to<br>discover as many places as possible.</h5>
  </div>
</div>

<div class="container text-start mx-5">
  <div class="row">
    <h4><i class="fa-solid fa-circle-check"></i> Tell us where you are</h4>
  </div>
  <div class="row my-2">
    <h4><i class="fa-solid fa-circle-check"></i> Define your budget</h4>
  </div>
  <div class="row my-2">
    <h4><i class="fa-solid fa-circle-check"></i> Get a route that fits your budget!</h4>
  </div>
</div>
