<div class="cover d-flex">
  <div class="boxx mx-3 mb-0">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control searchbox border border-dark mx-4 mb-3",
      placeholder: "Enter a city or an airport" %>
    <% end %>
  </div>
</div>
  <div class='subtitle pt-8'>
    <h1 class='text-primary text-center p-4'><strong>Explore the world with our trip suggestions</strong></h1>
  </div>

<div class="container align-items-center justify-content-center">
  <div class='row illustration mx-auto'></div>
  <div class="row text-center my-5">
    <h4>Discovering new places doesn't<br>have to be expensive</h4>
  </div>
</div>

<div class="container-fluid hpwhite d-flex text-center">
  <div class="col-12 my-5">
    <h2><strong>We build the best route<br>for you in 3 steps</strong></h2>
    <h5>We suggest you when and by which<br>transportation you will need to take to<br>discover as many places as possible.</h5>
  </div>
</div>

<div class="container-fluid hpwhite text-start px-5">
    <h4><i class="fa-solid fa-circle-check"></i> Tell us where you are</h4>
    <h4><i class="fa-solid fa-circle-check"></i> Define your budget</h4>
    <h4><i class="fa-solid fa-circle-check"></i> Get a route that fits your budget!</h4>
    <div class="text-center py-4">
      <a href="/routes/new" class="btn btnhp text-info">Build my route</a>
    </div>
</div>

<div class="container-fluid d-flex">
  <div class="row">
    <div class="col celcontent mt-5">
    </div>
    <div class="col-5 mt-5 py-5">
      <h2><strong>Keep track the routes you did</strong></h2>
      <h5 class="my-5 py-5">Save your routes<br>and use them to book<br>the best transportation options<br>within our partners</h5>
      </div>
  </div>
</div>

<div class="container-fluid hpwhite my-0">
  <div class="row text-center py-5">
    <h2><strong>Let us build the best<br>route for you!</h2>
    <h5>Give us a budget and<br>we make you travel to<br>as many places as possible!</h5>
  </div>
  <div class="row transpo mx-auto">
  </div>
</div>
