<div class="cover">
  <div class='searchbox mx-4'>
    <p>Explore <strong>endless</strong><br> destinations</p>
  </div>
</div>
  <div class='subtitle pt-8'>
    <h1 class='text-primary text-center p-4'><strong>Explore the world with our trip suggestions</strong></h1>
  </div>


<div class="container-fluid">
  <div class='row'>
    <div class="illustration col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
     <p class='text-primary'>Discovering new places doesn't have to be expensive</p>
    </div>
  </div>
</div>
