<div class="cover d-flex">
  <div data-component="maincontent">
    <div class="container-fluid">
      <br>
      <h2 class='searchbox'>
          Explore <strong>endless</strong><br> destinations
      </h2>
      <br>
    </div>
  </div>
</div>
