<div class="cover">
  <div class='searchbox mx-4'>
    <p>Explore <strong>endless</strong><br> destinations</p>
  </div>
</div>
  <div class='subtitle pt-8'>
    <h1 class='text-primary text-center p-4'><strong>Explore the world with our trip suggestions</strong></h1>
  </div>


<div class="container-fluid">
  <div class='row d-flex'>
    <div class="illustration col-3">
      <%= image_tag "illustration.jpeg" %>
    </div>
    <div class="col-9">
     <p class='text-primary'>Discovering new places doesn't have to be expensive</p>
     </div>
    </div>
  </div>
</div>
