.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: #FE8883;
  font-family: Comfortaa;
  color: $ocean-blue;
  font-weight: 800;
  opacity: 0.6;
  border-radius: 10px;
}
