.btnhp {
  background-color: #FE8883;
  border-radius: 10px;
  box-shadow: 1px 1px 4px $darkish-blue;
  transition: 1s;
  text-decoration: none;
}
.btnhp:hover {
  background-color: #D4574A;
}
.btn {
  border-radius: 10px;
}
.btnlg {
  border-radius: 10px;
}
