.peachtext {
  color: #D4574A;
}
.smallfont {
  font-size: 11px;
}
.card {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 1px 8px -3px $darkish-blue;
  border-radius: 5px;
}
.smallicon {
  font-size: 32px;
}
.citycard {
  width: 88vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 1px 8px -3px $darkish-blue;
  border-radius: 5px;
}
