.cover {
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(asset_path("banner.png"));
  height: 720px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.searchbox {
  box-shadow: 5px 5px 0.9px $darkish-blue;
  background-color: $neutral-02;
  width: 88%;
  position: absolute;
  margin-bottom: 20px;
  bottom: 0;
  border-radius: 10%;
}

.illustration {
  width: 50%;
  height: 50%;
}

.text {
  color: $ocean-blue;
}
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .cover {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(asset_path("banner.png"));
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .searchbox {
    text-align: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .cover {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(asset_path("banner.png"));
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .cover {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(asset_path("banner.png"));
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .cover {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(asset_path("banner.png"));
    height: 250px ;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .cover {
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(asset_path("banner.png"));
    height: 250px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
