.blue-circle-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background-color: $ocean-blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight:bold;
  font-size: 25px;
}
.smallesticon {
  font-size: 16px;
}
