.backgroundpattern {
  background-color: $light-gray;
  font-family: "Comfortaa";
  color: $ocean-blue;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Comfortaa';
}
.btn {
  // border-radius: 33%;
  border-radius: 10px;
}
.btnlg {
  // border-radius: 20%;
  border-radius: 10px;
}
