.backgroundpattern {
  background-color: #faeff4;
  font-family: "Comfortaa";
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Comfortaa';
}
.btn {
  border-radius: 33%;
}
.btnlg {
  border-radius: 20%;
}
