.routebanner {
  background-image: url(asset_path("showphoto.png"));
  width: 80vw;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 6px;
}
