<div class='backgroundpattern'>
  <div class="container form p-4 text-primary">
    <h2 class="p-1 mb-4"><strong>Build your route</strong></h2>

    <%= simple_form_for(@route) do |f| %>
    <div class="row justify-content-center text-primary">
      <div class="col-8">
        <%= f.input :departure_place,
                    autofocus: true %>
      </div>
    </div>
    <div class="row justify-content-center text-primary">
      <div class="col-5">
        <%= f.input :budget, placeholder: "$" %>
      </div>
    </div>
      <div class="text-center pb-2">
        <div class="btn btn-success">
        <%= f.button :submit, "Create Route" %>
      </div>
    <% end %>
  </div>
</div>
</div>
